<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuzuqing.module_user_center">

    <application>
        <activity android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            />
    </application>

</manifest>